@media screen and (max-width: 750px) {
    .card-item {
        width: 100%;
      } 
}

@media screen and (max-width: 600px) {
    .card-item {
      margin: 0 0 32px;
    }
    .card-flex {
        justify-content: center;
        flex-wrap: wrap;
    }
  }